*{
    max-width: 100%;
    height: auto;
    list-style: none;
}
h1 {
    font-size:3em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: #ffffff;
	text-shadow:
		0 0.01em 0 #999,
		0 0.02em 0 #888,
		0 0.03em 0 #777,
		0 0.04em 0 #666,
		0 0.05em 0 #555,
		0 0.06em 0 #444,
		0 0.08em 0 #000;
}

body {
    background-color: #048b47;
    font-family: '游明朝 Medium', serif;
    text-align: center;
}

h2 {
    text-align: center;

    color: white;
    /*-webkit-text-stroke: 1px black;*/
}

p {
    white-space: nowrap;
    text-align: center;
}

#resetButton,
#judgeButton {
    width: 80px;
    height: 50px;
    white-space: nowrap;
    font-family: '游明朝 Medium', serif;
    font-size: 12pt;

    border: solid 2px #454545;
    text-align: center;
    
}

#resetButton:hover,
#judgeButton:hover{
    color: #a2a1a1;
}

div {
    display: inline-block;
    text-align: center;
}

#list{
    font-size: 18pt;
    color: rgb(51, 50, 50);
    list-style:none;
    overflow: hidden;
}

.pai{
    background-color:#f6b80e;
    width: auto;
}

.pai:hover{
    background-color: #f5d681;
    color: #777;
}

.a{
    font-size: 12pt;
}

/* 右からスライドするアニメーションの定義 */
@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

/* 各リストアイテムにアニメーションを適用する */
#list li {
    animation: slideIn 1s ease-in-out;
}

/* 見栄えのための追加のスタイル（任意） */
#list {
    list-style: none;
    padding: 0;
}

#list li {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 5px;
}

header {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
    min-width: 960px;
    border-bottom: 2px solid #ffffff;
    display: inline-block;
    width: 90%;
  }
  header .headline{
    font-size: 43px;
  }
  .nav-list {
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
  }
  .nav-list-item {
    color:#ffff;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
  }
  a:link, a:visited, a:active {
    color: white;
    text-decoration: none;
  }
  a:hover{
    color:#cbc8c8;
    text-decoration: none;
  }

   .han img{
    width: 38px;
    height: auto;
   }

   .han{
    font-size: 20px;
    color: #fff;
   }

   .space{
    margin-bottom: 60px;
   }

   .yakuname{
    border-bottom: 2px solid #f6b80e;
      display: inline-block;
      width: 50%;
   }